$color-white: white;
$color-black: black;
$color-red:rgb(240, 56, 56);
$color-green: rgb(11, 129, 40);
$color-lightblue:lightblue;
$color-white-main: rgb(202, 204, 236);
$color-tag-item:rgba(92, 92, 92, 0.507);
